* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.wrapper {
  display: flex;
  flex-direction: column;

  padding-left: 20px;
  margin-left: 20px;
  width: 1200px;
  height: 300;

  
}

.ah {
  display: flex;
  width: 100%;
  max-width: 1340px;
	margin: 0 auto;
}

.img1 {
  width: 300px;
}

.label {

}

fieldset {
  width: 600px;
  height: 60px;
  margin: 20px 0 20px 0;
}

.w1 {
  margin: 0;
}

.f {
  border: 0;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 17px;
}

.bb {
  height: 35px;
  border: 0;
  width: 500px;
}

.bb:active {
  border: 0;
}

legend {
  margin-left: 10px;
}

input {
  font-size: 17px;
  border: 0;
}

.form2 {
  display: flex;
  flex-direction: column;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

}

.nachinka {
  border: 1px solid gray;
  padding: 8px;
  width: 600px;
}

h1 {
  color: rgb(33,147,90);
}


.gg {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
.gg:hover { background: rgb(53, 167, 110); }
.gg:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.zakazat {
  margin-top: 35px;
}

nav {
  display: flex;
  flex-direction: column-reverse;
}

nav a {
  font-size: 18px;
  line-height: 1.8;

}

.jjj:active {
  color: inherit;
}

.jjj:visited {
  color: inherit;
}

.jjj:link {
  color: inherit;
}

.img2:hover {
  width: 220px;
  cursor: pointer;
}

.sec-wrapper {
  display: flex;
  flex-direction: column;
}

.img2 {
  width: 200px;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  padding-top: 5px;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}



.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

